body {
	background-color: #D0CCD0;
	background-image: url(https://s-media-cache-ak0.pinimg.com/originals/9a/6f/fa/9a6ffa86d8b8837fc49cde455c7fd27d.jpg);
	font-family: 'Raleway', sans-serif;
}

.pagecontainer {
	max-width: 80%;
	margin: auto;
	text-align: center;
}

#products {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.productCard {
/*	display: inline-block;*/
	max-width: 40%;
	background-color: #FBFCFF;
	color: #1C6E8C;
	padding: 5px;
	margin: 20px;
	border-radius: 4px;
	box-shadow: 0 3px 10px #605856;
}

.heading {
	color: #1C6E8C;
}

.pics {
	width: 200px;
	height: 200px;
}